themes {
    catppuccin-macchiato {
        bg "#24273a"
        fg "#cad3f5"
        red "#ed8796"
        // Zellij usa esta entrada como color de acento de la UI
        // (frames del pane enfocado, ribbons seleccionados, modo activo)
        green "#00e5ff" // azul neón
        blue "#8aadf4"
        yellow "#eed49f"
        magenta "#f5bde6"
        orange "#f5a97f"
        cyan "#8bd5ca"
        black "#494d64"
        white "#b8c0e0"
    }
}