# Ignore Agents and AI files
.atl/
.agents/

# Runtime logs (no deben versionarse)
eww_debug.log
*.log

# Ignore all mpd files by default (logs, state, database, etc.)
mpd/.config/mpd/state
mpd/.config/mpd/log
mpd/.config/mpd/database
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql

# Except the main configuration file
!mpd/.config/mpd/mpd.conf
