layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    
    // --- Pestaña Principal: Código ---
    tab name="Code" focus=true {
        pane split_direction="vertical" {
            // Panel izquierdo (El editor: Neovim / Helix)
            pane size="75%" {
                focus true
                // Si quisieras abrir neovim directamente:
                // command "nvim"
            }
            // Panel derecho dividido horizontalmente
            pane split_direction="horizontal" size="25%" {
                // Terminal arriba (Comandos generales, git, etc)
                pane {
                    name "Terminal"
                }
                // Terminal abajo (Procesos en background o logs)
                pane {
                    name "Logs"
                }
            }
        }
    }

    // --- Pestaña Secundaria: Servidor ---
    tab name="Server" {
        pane {
            name "Localhost"
        }
    }
}